

/* Grundlegendes Layout */
body {
  font-family: 'Quicksand', sans-serif;
}

.about-me-container {
  display: block; /* Stellt sicher, dass Elemente untereinander stehen */
}

.about-me-image {
  width: 250px; /* Bildgröße */
  height: auto; /* Proportionen beibehalten */
  display: block; /* Bild als Blockelement */
  margin: 80px 0 20px 20px; 
}


.about-me-text h1 {
  text-align: left; /* Links ausrichten */
  margin: 0 0 10px 20px; /* Abstand: oben 0, unten 10px, links 20px */
  padding: 0; /* Kein zusätzlicher Innenabstand */
  font-size: 3rem; /* Setzt die Größe der Schrift auf 3rem */
  font-weight: 300; /* Macht die Schrift fett */
  color: #fff; /* Weißer Text (optional, je nach Hintergrund) */
}


  /* Stil für den P-Text */
  p {
    font-size: 28px; /* Etwas größere Schrift für den Text */
    font-weight: 70;
    line-height: 1.6; /* Besseren Abstand zwischen den Zeilen */
    text-align: justify; /* Text im Blocksatz */
    margin-left: 450px;  /* Abstand von der rechten Seite */
    max-width: 800px;    /* Maximale Breite für den Text (nach Bedarf anpassen) */
    margin-top: -520px;   /* Verschiebung nach oben, falls gewünscht */
  }

  br {
    margin: 0;
    line-height: 1.2; /* Oder ein Wert, der für dich passt, z.B. 1.2 */
  }
  
  

  p {
  margin-bottom: 5px; /* Reduziert den Abstand nach jedem Absatz */
  line-height: 1.2; /* Anpassung der Zeilenhöhe */
}

/* Styling für den Footer */
footer {
  position: fixed; /* Fixiert den Footer am unteren Rand */
  bottom: 0; /* Fügt den Footer an den unteren Rand des Bildschirms */
  left: 0; /* Setzt den Footer an den linken Rand */
  width: 100%; /* Volle Breite */
  background-color: #1d1c1c; /* Dunkler Hintergrund */
  color: white; /* Weiße Schrift */
  padding: 10px 20px; /* 10px Abstand oben und unten, 20px Abstand rechts und links */
  font-size: 14px; /* Schriftgröße */
  text-align: right; /* Rechtsbündig im Footer */
  z-index: 1000; /* Stellt sicher, dass der Footer immer oben liegt */
}

/* Styling für den Footer-Text */
footer p {
  margin: 0; /* Entfernt alle Margin, um es genau an den Rand zu positionieren */
  padding-right: 30px; /* Fügt zusätzlichen Abstand zum rechten Rand hinzu */
  font-size: 12px; /* Verkleinert die Schriftgröße */
  font-weight: 200; /* Dünnerer Schriftstil (weniger dick) */
}



/* Hamburger Menü */
.menu-icon {
  position: fixed;
  top: 10px;
  right: 10px;
  z-index: 1000;
}

.nav-menu {
  display: none; /* Menü standardmäßig ausblenden */
  position: absolute;
  top: 50px; /* Menü direkt unter dem Hamburger-Icon */
  right: 10px;
  background-color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 999;
  padding: 10px;
  width: 200px;
}

.nav-menu.open {
  display: block; /* Menü anzeigen, wenn die Klasse 'open' hinzugefügt wird */
}

.nav-menu ul {
  list-style: none;
  padding: 0;
}

.nav-menu li {
  padding: 10px;
}

.nav-menu a {
  text-decoration: none;
  color: black;
}
