

/* Grundlegendes Layout */
body {
  font-family: 'Quicksand', sans-serif;
  
}

.about-me-container {
  display: block; /* Stellt sicher, dass Elemente untereinander stehen */
}

.about-me-image {
  width: 250px; /* Bildgröße */
  height: auto; /* Proportionen beibehalten */
  display: block; /* Bild als Blockelement */
  margin: 80px 0 20px 20px; 
}


.about-me-text h1 {
  text-align: left; /* Links ausrichten */
  margin: 0 0 10px 20px; /* Abstand: oben 0, unten 10px, links 20px */
  padding: 0; /* Kein zusätzlicher Innenabstand */
  font-size: 3rem; /* Setzt die Größe der Schrift auf 3rem */
  font-weight: 300; /* Macht die Schrift fett */
  color: #fff; /* Weißer Text (optional, je nach Hintergrund) */
}


  /* Stil für den P-Text */
  p {
    font-size: 28px; /* Etwas größere Schrift für den Text */
    font-weight: 70;
    line-height: 1.6; /* Besseren Abstand zwischen den Zeilen */
    text-align: justify; /* Text im Blocksatz */
    margin-left: 450px;  /* Abstand von der rechten Seite */
    max-width: 800px;    /* Maximale Breite für den Text (nach Bedarf anpassen) */
    margin-top: -520px;   /* Verschiebung nach oben, falls gewünscht */
  }

  br {
    margin: 0;
    line-height: 1.2; /* Oder ein Wert, der für dich passt, z.B. 1.2 */
  }
  
  

  p {
  margin-bottom: 5px; /* Reduziert den Abstand nach jedem Absatz */
  line-height: 1.2; /* Anpassung der Zeilenhöhe */
}




footer {
  position: absolute;
  bottom: 0;
  width: 100%; /* Stellt sicher, dass der Footer über die gesamte Breite geht */
  background-color: #1d1c1c;
  padding: 10px 0;
  text-align: center;
  font-family: Arial, sans-serif;
  color: #333;
}

footer p {
  margin: 5px 0;
  text-align: left;
  font-size: 15px; /* Kleinere Schriftgröße für den Footer */
}

.footer-link {
  color: #e7fc6e;
  text-decoration: none;
  font-weight: bold;
}

.footer-link:hover {
  text-decoration: underline;
}

footer a {
  color: #333;
  text-decoration: none;
}

footer a:hover {
  color: #e7fc6e;
}
